.evaluation-tool {
  color: var(--charcoal);
}

.evaluation-tool__common-paragraph {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.evaluation-tool__common-paragraph h2 {
  font-weight: 750;
  font-size: 32px;
  line-height: 38px;
  color: var(--charcoal);
  font-family: 'AvenirBlack';
  width: 50%;
}

.evaluation-tool__common-paragraph p {
  font-weight: 750;
  font-size: 28px;
  line-height: 42px;
  color: var(--gray);
  font-family: 'AvenirBlack';
}

.evaluation-tool__common-paragraph span {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: var(--charcoal);
}

.evaluation-tool__common-paragraph ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 20px;
  list-style-image: url('/public/images/case_studies/career_starter/bullet_point.svg');
}

.evaluation-tool__common-paragraph ul li {
  padding-left: 8px;
}

.evaluation-tool__open-in-figma {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 12px 32px;
  background: #f9f9f9;
  border: 1px solid #2f2c2f;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.45);
  border-radius: 24px;
  font-weight: 750;
  font-size: 18px;
  line-height: 22px;
}

.evaluation-tool__affinity-map-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 12px 32px;
  background: #f9f9f9;
  border: 1px solid #2f2c2f;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.45);
  border-radius: 24px;
  font-weight: 750;
  font-size: 18px;
  line-height: 22px;
}

.evaluation-tool__open-in-figma:hover,
.affinity-map-btn:hover {
  cursor: pointer;
}

/* MaterialUI breakpoint `md` */
@media (max-width: 900px) {
  .evaluation-tool__common-paragraph h2 {
    width: 100%;
  }
}
