.evaluation-tool {
  color: var(--charcoal);
}

.evaluation-tool__common-paragraph {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.evaluation-tool__common-paragraph h2 {
  font-weight: 750;
  font-size: 32px;
  line-height: 38px;
  color: var(--charcoal);
  font-family: 'AvenirBlack';
  width: 50%;
}

.evaluation-tool__common-paragraph p {
  font-weight: 750;
  font-size: 28px;
  line-height: 42px;
  color: var(--gray);
  font-family: 'AvenirBlack';
}

.evaluation-tool__common-paragraph span {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: var(--charcoal);
}

.evaluation-tool__common-paragraph ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
}

.evaluation-tool__common-paragraph ul li {
  padding-left: 8px;
  display: flex;
  align-items: flex-start;
}

.evaluation-tool__common-paragraph ul li:before {
  content: url('/public/images/case_studies/career_starter/bullet_point.svg');
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  line-height: 1.3;
}

/* MaterialUI breakpoint `md` */
@media (max-width: 900px) {
  .evaluation-tool__common-paragraph h2 {
    width: 100%;
    font-size: 28px;
    line-height: 33px;
  }
  .evaluation-tool__common-paragraph p {
    font-size: 24px;
    line-height: 38px;
  }
  .evaluation-tool__common-paragraph span {
    font-size: 20px;
    line-height: 29px;
  }
}

/* MaterialUI breakpoint `sm` */
@media (max-width: 600px) {
  .evaluation-tool__common-paragraph h2 {
    font-size: 24px;
    line-height: 29px;
  }
  .evaluation-tool__common-paragraph p {
    font-size: 18px;
    line-height: 27px;
  }
  .evaluation-tool__common-paragraph span {
    font-size: 16px;
    line-height: 23px;
  }
  .evaluation-tool__common-paragraph ul {
    gap: 8px;
  }
  .evaluation-tool__common-paragraph ul li:before {
    line-height: 1.7;
  }
}
