.case-study-card-media {
  box-shadow: none;
  border-radius: 0;
  /* border: 1px solid var(--dark-magenta); */
  width: 100%;
}

.case-study-card-media__content {
  border: 1px solid var(--dark-magenta);
  border-top: none;
  padding: 24px;
}

.case-study-card-media__image-container {
  position: relative;
}
.case-study-card-media__image {
  /* width: 100%; */
}

.case-study-card-media__content-text {
  font-weight: 350;
  font-size: 24px;
  line-height: 29px;
  color: var(--charcoal);
}

/* MaterialUI breakpoint `md` */
@media (max-width: 900px) {
  .case-study-card-media__image-container {
    border-right: 1px solid var(--dark-magenta);
    border-left: 1px solid var(--dark-magenta);
    overflow-x: auto;
  }
  .case-study-card-media__content-text {
    font-size: 20px;
    line-height: 26px;
  }
}

/* MaterialUI breakpoint `sm` */
@media (max-width: 600px) {
  .case-study-card-media__content-text {
    font-size: 16px;
    line-height: 23px;
  }
}
