.profiles-and-verifications {
  color: var(--charcoal);
}

.profiles-and-verifications__common-paragraph {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.profiles-and-verifications__common-paragraph h2 {
  font-weight: 750;
  font-size: 32px;
  line-height: 38px;
  color: var(--charcoal);
  font-family: 'AvenirBlack';
  width: 50%;
}

.profiles-and-verifications__common-paragraph p {
  font-weight: 750;
  font-size: 28px;
  line-height: 42px;
  color: var(--gray);
  font-family: 'AvenirBlack';
}

.profiles-and-verifications__common-paragraph span {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: var(--charcoal);
}

.profiles-and-verifications__common-paragraph ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 20px;
  list-style-image: url('/public/images/case_studies/career_starter/bullet_point.svg');
}

.profiles-and-verifications__common-paragraph ul li {
  padding-left: 8px;
}

/* MaterialUI breakpoint `md` */
@media (max-width: 900px) {
  .profiles-and-verifications__common-paragraph h2 {
    width: 100%;
  }
}
