.about-me__info {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 180px;
}

.about-me__info-data {
  margin-left: 64px;
}

.about-me__info-name {
  display: flex;
  align-items: flex-end;
  padding-bottom: 4px;
}

.about-me__info-name h2 {
  font-weight: 750;
  font-size: 72px;
  line-height: 86px;
  font-family: 'AvenirBlack';
  color: var(--charcoal);
}

.about-me__info-name p {
  margin-left: 24px;
  font-weight: 750;
  font-size: 24px;
  line-height: 29px;
  color: var(--gray);
  padding-bottom: 17px;
}

.about-me__info-noun {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--gray);
  margin-bottom: 40px;
}

.about-me__info-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 17px;
}

.about-me__more-info {
  display: flex;
  flex-direction: column;
  gap: 140px;
  margin: 0 0 180px;
}

.about-me__more-info-label {
  font-weight: 750;
  font-size: 56px;
  line-height: 67px;
  color: var(--charcoal);
  font-family: 'AvenirBlack';
}

.about-me__business_cards-label {
  font-weight: 750;
  font-size: 56px;
  line-height: 67px;
  color: var(--charcoal);
  font-family: 'AvenirBlack';
  width: 80%;
}

/* MaterialUI breakpoint `lg` */
@media (max-width: 1200px) {
  .about-me__info-data {
    margin-left: 32px;
  }
  .about-me__info-name h2 {
    font-size: 60px;
  }
  .about-me__info-list {
    font-size: 22px;
  }
}

/* MaterialUI breakpoint `md` */
@media (max-width: 900px) {
  .about-me__info {
    flex-direction: column;
    margin-bottom: 104px;
  }
  .about-me__info-data {
    margin-left: 0px;
  }
  .about-me__info-name h2 {
    font-size: 48px;
    line-height: 58px;
  }
  .about-me__info-name {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 4px;
  }
  .about-me__info-name p {
    margin: 0;
    padding: 0;
  }
  .about-me__info-list {
    gap: 24px;
    font-size: 16px;
  }
  .about-me__more-info {
    gap: 124px;
    margin: 0 0 124px;
  }
  .about-me__more-info-label {
    font-size: 38px;
    line-height: 46px;
  }
  .about-me__business_cards-label {
    font-weight: 750;
    font-size: 38px;
    line-height: 46px;
    width: 100%;
  }
}
