.case-studies-card-wrapper {
  margin-bottom: 14.8125rem;
}

.section-headers {
  border-top: 1px solid #2f2c2f;
  border-bottom: 1px solid #2f2c2f;
  width: 100%;
  margin: 118px auto 80px;
  padding: 24px 0;
  font-family: 'AvenirRoman';
}
