.page-road-map {
  position: fixed;
  left: 16px;
  top: 43%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--charcoal);
  max-width: 108px;
  font-family: 'AvenirRoman';
  z-index: 1000;
}

.page-road-map__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  transition: 0.2s ease-in-out;
}

.page-road-map__item-label {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}

.page-road-map__item--active .page-road-map__item-label {
  color: var(--blue);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.page-road-map__item:hover {
  cursor: pointer;
  color: var(--blue);
}

.page-road-map__mobile {
  display: none;
}

.page-road-map__mobile-items {
  position: fixed;
  left: 5px;
  top: 48%;
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid #2f2c2f;
  max-width: 120px;
  max-height: 320px;
  overflow-y: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  color: var(--charcoal);
}

.page-road-map__mobile-item {
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
}

.page-road-map__mobile-item--active {
  color: var(--blue);
  font-weight: 400;
}

.page-road-map__mobile-items-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
}

/* MaterialUI breakpoint `md` */
@media (max-width: 900px) {
  .page-road-map__item {
    display: none;
  }
  .page-road-map__mobile {
    display: block;
  }
}

/* MaterialUI breakpoint `sm` */
@media (max-width: 600px) {
  .page-road-map {
    left: 5px;
  }
}
